
.section{
    clear: both;
    padding: 0;
    margin: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 0;
}

.span_3_of_3{
    width: 100%;
}

.span_2_of_3{
    width: 66.1%;
}

.span_1_of_3{
    width: 32.2%;
}

.blog-post img{
    max-width: 100%;
}

/*Comienza el blog*/

.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

.blog-post{
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px; 
}

.side-post{
    background: white;
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 25px;
    height: auto;
    box-shadow: #1d1d1d;
    border-radius: 6%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px rgba(31, 30, 30, 0.2);
}

.side-post h1{
    font-weight: 500px;
    font-size: 18px;
    margin-top: 2,5px;
    margin-bottom: 20px;
    text-align: center;
    color: #353434;
}

.blog-content{
    font-size: 1em;
    border-left: 5px solid #c66fee;
    padding-left: 15px;
    margin-top: 10px;
}

.side-content{
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.side-list{
  text-align: center;
  list-style-type: none;
  font-size: 15px;
}

.boton-link{
    padding:14px 50px;
    margin-bottom: 10px;
    margin-left: 7px;
    text-decoration: none;
    border: none;
    border-radius: 6%;
    background: rgb(34, 33, 33);
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.boton-link:hover{
    background: #c180f7;
    color: #000;

}

.blog-title{
    font-weight: 500px;
    font-size: 2.5em;
    margin-top: 5px;
}

.date{
    font-size: 1em;
    font-weight: 400;
    color: #9c9c9c;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.Tema-1{
    margin-top: 15px;
}

.blog-contents{
    margin-top: 10px;
    font-size: 1em;
    padding-left: 15px;
}