#ctn-icon-search{
    position:absolute;
    right: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}


#ctn-icon-search i{
    font-size: 20px;
    color: #1d1d1d;
    cursor: pointer;
    transition: all 300ms;
}


#ctn-icon-search i:hover{
    color: #c180f7;
}


#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 20px;
    z-index: 9;
    transition: all 600ms;

}

#ctn-bars-search input{
    display:block;
    width: 100%;
    margin:0px;
    padding: 10px;
    font-size: 18px;
    outline:0;
}

#box-search{
    position: fixed;
    top: 186px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
   display: block;
   width: 100%;
   color: #000000;
   padding: 12px, 20px;
   text-decoration: none;
   height: 30px;
}


#box-search li a:hover{
    background: #d2cfcf;
}


#box-search li a i{
    margin-right: 10px;
    color: #959292;
}

#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    background:rgba(0, 0, 0, 0.5);
    z-index: 7;
    display: none;
}